.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 600px;
}
.practice {
    font-size: 13px;
    color: #e5e7eb;
    background-color: #6365f120;
    padding: 10px 20px 10px 20px;
    border: #c0b6d6 1px solid;
    border-radius: 25px;
}
.main {
  font-size: 70px;
  font-weight: 900;
  color: #e5e7eb;
  margin-top: 15px;
}
.main-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    gap: -50px;
}
.datastr {
    color: #6a00f4
}
.pos{
    transform: translateY(-30px);
}
.desc{
    color: #9ca3af;
    font-size: 18px;
    margin-top: 10px;
}
.desc2{
    color: #9ca3af;
    font-size: 20px;
    margin-top: 10px;
    transform: translateY(-8px);
}
.desc-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.expbtn {
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: #9ca3af 1px solid;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 520;
    background-color: transparent;
    color: white;
}
.startbtn{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: #6a00f4;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 520;
    color: whitesmoke;
}
.startbtn:hover{
    opacity: 0.7;
    transition: 0.3s;
    box-shadow: 0px 0px 4px 0px #7c3aed;
    cursor: pointer;
}
.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.expbtn:hover{
    background-color: #7c3aed;
    color: #e5e7eb;
    transition: 0.3s;
    box-shadow: 0px 0px 4px 0px #7c3aed;
    cursor: pointer;

}