.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    background-color: #131313;
}
.footer-cont{
    text-align: center;
    background-color: #8b5cf6 ;
    padding: 100px 150px 100px 150px;
    border-radius: 20px;
    background: linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    background-image: 
  radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.6) 100%),
  linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    box-shadow:
    0 0 20px rgba(11, 187, 255, 0.15),
    0 0 20px rgba(20, 120, 255, 0.2),
    0 0 20px rgba(0, 255, 255, 0.08);
}
.foothead{
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.footdesc{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.footbtn{
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.footbtn:hover{
    background-color: #e0e0e0;
    transition: 0.3s;
}