.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;   
}
.footer-cont{
    text-align: center;
    background-color: #8b5cf6 ;
    padding: 100px 150px 100px 150px;
    border-radius: 20px;
}
.foothead{
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.footdesc{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.footbtn{
    background-color: white;
    color: #8b5cf6 ;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.footbtn:hover{
    background-color: #e0e0e0;
    transition: 0.3s;
}