
.container {
  margin: 0 auto;
  height: 70px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.box {
  padding: 10px 50px 10px 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #122c50 1px solid;
  height: 70px;

}
.btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 530;
  height: 42px;
  text-align  : center;
  padding: 0px 15px 0px 15px;
  width: max-content;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  gap: 15px;
}
h2 {
  background: linear-gradient(90deg, #6a00f4, #4b9fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 28px;min-width: 5px;
}
.btn:hover {
  background: #6366f1;
  transition: 0.3s;
  box-shadow: 0px 0px 4px 0px #6366f1;
}
.login-btn {
  background: #6a00f4
}
.login-btn:hover {
  box-shadow: 0px 0px 4px 0px #5d5ffb;
  opacity: 0.5;
  transition: 0.3;
}
.logo {
  font-family: sans-serif;
  font-size: 45px;
}
