.prof-hero{
    display: flex;
    align-items: start;
    text-align: start;
    gap: 30px;
    
}
.prof-cont {
    padding: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    background-image: 
    radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.6) 100%),
    linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
}
.prof-stats{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
.statbox{
    padding: 20px;
    background-color: #131313;
    border: #272727 1px solid;
    font-size: 22px;
    border-radius: 12px;
}   
.prof-list {
    padding: 40px;
}
.repo-card {
    background-color: #131313;
    border: #e5e5e5 1px dashed;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-repo {
    background-color: #0a66c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.view-repo:hover {
    background-color: #084a8a;
    transition: background-color 0.2s ease;
}