@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

.maincont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 1000px;
    background: linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    background-image: 
    radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.6) 100%),
    linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
}
.practice {
    font-size: 13px;
    color: #e5e7eb;
    background-color: #6365f14b;
    padding: 10px 20px 10px 20px;
    border: #c0b6d6 1px solid;
    border-radius: 25px;
    margin-bottom: 20px;
}
.main {
  font-size: 70px;
  font-weight: 900;
  color: #e5e7eb;
}
.mainhead {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: -50px;
}
.datastr {
    color: #6a00f4
}
.pos{
    transform: translateY(-30px);
}
.desc{
    color: #9ca3af;
    font-size: 18px;
    margin-top: -20px;

}
.desc2{
    color: #9ca3af;
    font-size: 20px;
    margin-top: 10px;
    transform: translateY(-8px);
}
.desccont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.expbtn {
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: #9ca3af 1px solid;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 520;
    background-color: transparent;
    color: white;
}
.startbtn{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: #6a00f4;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 520;
    color: whitesmoke;
}
.startbtn:hover{
    opacity: 0.7;
    transition: 0.3s;
    box-shadow: 0px 0px 4px 0px #7c3aed;
    cursor: pointer;
}
.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.expbtn:hover{
    background-color: #7c3aed;
    color: #e5e7eb;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 4px 0px #7c3aed;
    cursor: pointer;

}
.langbox{
    height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    border: 1px solid #374151;
}
.langallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 1000px;
}

.stack {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

}

.card {
    border: 0.5px solid #374151;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.3s;
}

.small { width: 190px; height: 230px; }
.mid   { width: 220px; height: 270px; }
.big   { width: 420px; height: 300px; }

.stack img:nth-child(1) { left: 0px;   top: 40px; }
.stack img:nth-child(2) { left: 80px;  top: 15px; }
.stack img:nth-child(3) { left: 190px; top: -5px; }
.stack img:nth-child(4) { left: 400px; top: 15px; }
.stack img:nth-child(5) { left: 510px; top: 40px; }

.langbox:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
