.headingcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}
.cardcont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
    width: 1700px;
}
.card {
    background-color:#202020;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #ffffff;
}
.image {
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: #8b5cf6;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
}
.para {
    font-size: 14px;
    text-align: start;
    margin-top: 10px;
}
.title{
    margin-top: 10px;
}
.play{
    background-color: green;
}
.share{
    background-color: orange;
}
.user{
    background-color: rgb(0, 145, 255);
}
.message{
    background-color: blue;
}
.bolt{
    background-color: red;
}
/* .card:hover {
    transform: scale(1.025);
    transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgb(58, 58, 58);
} */
.midbody {
    color: #ffffff;
    text-align: center;
    

    background-color: #202020;
    width: 100%;
    height: 100%;
    padding: 60px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.subpara{
    font-size: 18px;
}
.colortext {
  background: linear-gradient(90deg, #6a00f4, #4b9fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 28px;min-width: 5px;
}
@media (max-width:600px) {
    .cardcont{
        flex-direction: column;
    }
}