.editorbox{
width: 75%;
}
.outputcontainer {
  margin-top: 20px;
}

.outputcontainer h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #ffffff;

}
.editorpage{
  display: flex;

}

.outputbox {
  background-color: #1e1e1e;       
  font-size: 22px;
  font-weight: 600;
  font-family: monospace;
  color: #ffffff2f;             
  padding: 15px;
  width: 30%;
  word-break: break-all;
  overflow-wrap: break-word;          
} 
.outputcontainer {
  display: flex;
  flex-direction: column;
}
