.editorbox{
  position: relative;
  z-index: 1;
  height: 86vmin;
  width: 75%;  
}
.outputcontainer {
  margin-top: 20px;
}

.outputcontainer h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #ffffff;
  overflow: visible;
}
.editorpage{
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.outputbox {
  background-color: #1e1e1e;       
  border: 1px solid #3c3c3c;       
  color: #ffffff2f;             
  padding: 15px;
  width: 25%;          
} 
.outputcontainer {
  display: flex;
  flex-direction: column;
}
