.comingdiv {
    height: 80px;
    background-color: orange;
    border: 1px white dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comingh3 {
    color: black;
    font-weight: 600;
}
.comingp {
    font-weight: 600;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}