.communitycont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    background: linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    background-image: 
    radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.6) 100%),
    linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);

}
.comsearchbar {
    height: 50px;
    flex: 9;
    color: black;
    border-radius: 8px;
    padding: 20px;
    padding-left: 30px;
    border: none;
    font-size: 18px;
}
.comsearchbar:focus{
    outline: none;
}
.comheading {
    margin-bottom: 40px;
    padding: 0px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.comsearch {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0px 80px 0px 80px;
    padding-bottom: 40px;
}
.comlang{
    flex: 1;
    color: black;
    border-radius: 8px;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 18px;
}   

.comgallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    background-color: #131313;
}
.comcard {
    border-radius: 14px;
    background-color: #272727;
    height: 240px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 20px  ;
    width: 850px;
}
.comcon{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
}
.comtitle{
    display: flex;
    gap: 15px;
}
.comcardlang {
    background-color: orange;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}
.comcodepreview {
    background-color: #0a66c2;
    color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}
.comcard:hover {
    transform: translateY(-03px);
    transition: transform 0.1s ease;
  transition: 0.1s;
  box-shadow: 0px 0px 10px 0px #363636;
}
.comcodepreview:hover {
    background-color: #084d91;
    transition: background-color 0.2s ease;
}
.comhero {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.compost {
    background-color: orange;
    color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.compost:hover {
    background-color: #cc8400;
    transition: background-color 0.2s ease;
}
    