.editornavcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
    height: 56px;
    font-family: Consolas, monospace;
}

.leftnav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightnav {
    display: flex;
    align-items: center;
    gap: 18px;
}

.filename {
    width: 300px;
    background:#252526;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    padding: 6px 10px;
    color: #dcdcdc;
    font-size: 14px;
    height: 38px;
}
.filename:focus {
    border-color:#007acc;
    outline:none;
    box-shadow:0 0 3px #007acc80;
}

.editbutton {
    padding: 8px 16px;
    font-size: 17px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #3c3c3c;
    background-color:#2c2c2c;
    color:white;
    cursor:pointer;
    transition:0.15s;
}
.editbutton:hover {
    background-color:#3d3d3d;
}
.runbtn {
    background-color:#0bb700;
}
.runbtn:hover{
    background-color: transparent;
    border: 1px solid #00d11a;
    color: #00d11a;
}
.select {
    background:#252526;
    color:#dcdcdc;
    border:1px solid #3c3c3c;
    padding:6px 10px;
    border-radius:4px;
    font-size:17px;
    outline:none;
    transition:.15s;
    height: 35px;
}

.select:hover,
.select:focus {
    border-color:#007acc;
    box-shadow:0 0 3px #007acc80;
}

.select option {
    background:#1e1e1e;
    color:#dcdcdc;
}

.saved {
    color:#00d11a;
    font-size:17px;
}
