.container {
  margin: 0 auto;
  height: 70px;
  background-color: #131313;
}

.box {
  padding: 10px 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(43, 43, 43) 1px solid;
  height: 70px;
}

.logo img {
  height: 35px;
}

.logo img:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 530;
  height: 42px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 8px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #434343b5;
  box-shadow: 0px 0px 4px 0px #292929;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .box {
    padding: 10px 20px;
  }

  .menuIcon {
    display: block;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #131313;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    display: none;
  }

  .menu.show {
    display: flex;
  }
}
