
.container {
  margin: 0 auto;
  height: 70px;
  background-color: #131313;
}
.logo img:hover {
  transform: scale(1.02);
  transition-duration: 0.3s;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}
.box {
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(43, 43, 43) 1px solid;
  height: 70px;

}
.btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 530;
  height: 42px;
  text-align  : center;
  padding: 0px 15px 0px 15px;
  width: max-content;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  gap: 15px;
  transition: all 0.5s ease;
}
.colortext {
  background: linear-gradient(90deg, #6a00f4, #4b9fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 28px;min-width: 5px;
}
.btn:hover {
  background: #6365f1b5;
  transition: 0.3s;
  box-shadow: 0px 0px 4px 0px #6366f1;
}
.loginbtn {
  background: #6a00f4
}
.loginbtn:hover {
  box-shadow: 0px 0px 4px 0px #5d5ffb;
  opacity: 0.8;
  transition: 0.3s;
}
.logo {
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.2); 
  color: white;
}
