.profhero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 40px;
}
.profcont {
    padding: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
    background-image: 
    radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.6) 100%),
    linear-gradient(90deg, #050b14 0%, #081520 50%, #0a2530 100%);
}
.profstats{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
.statbox{
    padding: 20px;
    background-color: #131313;
    border: #272727 1px solid;
    font-size: 22px;
    border-radius: 12px;
}   
.proflist {
    padding: 20px 40px;
    
}
.profilegallery{
    overflow-y: auto;
    height: 48vh;
    padding-right: 20px;
}
.repocard {
    background-color: #202020;
    border-radius: 12px;
    padding: 20px 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.viewrepo {
    background-color: #0a66c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    height: 40px;
}
.viewrepo:hover {
    background-color: #084a8a;
    transition: background-color 0.2s ease;
}
.fa-trash-can{
    color: white; 
    font-size: 16px;
    border-radius: 5px;  
    margin-right: 20px;
    cursor: pointer;
    background-color: red;
    padding: 10px;
}
.image {
    color: white; 
    font-size: 16px;
    border-radius: 5px;  
    margin-right: 20px;
    cursor: pointer;
    background-color: red;
    padding: 10px;
}
.rightrepo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.langpic{
    width: 70px;
    height: 70px;
    border-radius: 12px;
    background-color: #353535;
}
.leftcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;    
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;     
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #1a1a1a;
}
.namecard{
    display: flex;
    gap: 25px;
}
.compost{
    width: 160px;
    height: 60px;
    background-color: #085fb6;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.compost:hover{
    opacity: 0.8;   
}
.pfp {
    height: 150px;
    width: 150px;
    border-radius: 30%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 500;
    font-family: sans-serif;
    color: #3a3a3a;
}